/*顶部导航*/
header{
  background-color: #fff;
  box-shadow: 0 1px 3px #999;
  padding: 0 100px;
}
header,
header>nav,
header>nav>a{
  height: 60px;
  line-height: 60px;
}
header>nav{
  display: inline-block;
}
header>nav>a{
  float: left;
  padding: 0 16px;
  font-size: 14px;
  cursor: pointer;
}
header>nav>a:hover,
header>nav>a.on{
  background-color: #e84252;
  color: #fff;
}
section{
  padding: 0 100px;
}
