<header>
  <nav>
    <a routerLink="/home" routerLinkActive="on" [routerLinkActiveOptions]="{exact:true}">首页</a>
    <a routerLink="/rdclist" [routerLinkActive]="['on']" [routerLinkActiveOptions]="{exact:true}">冷库资源</a>
    <a routerLink="/rentlist" [routerLinkActive]="['on']" [routerLinkActiveOptions]="{exact:true}">热租冷库</a>
    <a routerLink="/partner" [routerLinkActive]="['on']" [routerLinkActiveOptions]="{exact:true}">链库合伙人</a>
  </nav>
</header>
<section>
  <router-outlet></router-outlet>
</section>

