<div class="swiper-container gallery-top">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image:url(http://www.swiper.com.cn/demo/img/nature9.jpg)"></div>
    <div class="swiper-slide" style="background-image:url(http://www.swiper.com.cn/demo/img/nature8.jpg)"></div>
    <div class="swiper-slide" style="background-image:url(http://www.swiper.com.cn/demo/img/nature7.jpg)"></div>
    <div class="swiper-slide" style="background-image:url(http://www.swiper.com.cn/demo/img/nature6.jpg)"></div>
    <div class="swiper-slide" style="background-image:url(http://www.swiper.com.cn/demo/img/nature5.jpg)"></div>
    <div class="swiper-slide" style="background-image:url(http://www.swiper.com.cn/demo/img/nature4.jpg)"></div>
    <div class="swiper-slide" style="background-image:url(http://www.swiper.com.cn/demo/img/nature3.jpg)"></div>
    <div class="swiper-slide" style="background-image:url(http://www.swiper.com.cn/demo/img/nature2.jpg)"></div>
    <div class="swiper-slide" style="background-image:url(http://www.swiper.com.cn/demo/img/nature1.jpg)"></div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-pagination"></div>
</div>
